<h2 mat-dialog-title>Generar reporte de MDI</h2>
<mat-dialog-content class="mat-typography">
  <h3>Realizar comparación en Araxis</h3>
  <p>Debe comparar los compilados de producción y desarrollo colocando el la columna izquierda
      el nuevo compilad y en la columna derecha la linea base.</p>

  <h3>Generar reporte xml</h3>
  <p>Una vez comparadas las carpetas generas un reporte xml.</p>

  <h3>Usar la aplicación</h3>
  <p>El reporte xml lo subes a esta aplicación</p>

  <h3>Colocas el path de tu rtc</h3>
  <p>Coloca el path de tu rtc para colocarle un prefijo a cada item.</p>

  
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close>Entendido</button>
</mat-dialog-actions>