table {
    width: 100%;
  }

.mat-header-cell {
  background-color: #ff0000;
  color: #ffffff;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 9pt;
}

.mat-cell {
  
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 9pt;
}